.swal-modal{
    width: 624px !important;
}
.flex{
    display: flex;
}
.ml-80{
    margin-left: 80px;
}
.imgTooltip{
    background-color: #ffffff;
    color: #32325d;
    border-radius: 8px;
    padding: 6px;
    font-size: 13px;
    border: 1px solid black;
    position: absolute;
    margin-top: -53px;
    left: 235px;
}
.tooltips{
    background-color: #ffffff;
    color: #32325d;
    border-radius: 8px;
    padding: 6px;
    font-size: 13px;
    border: 1px solid black;
    position: absolute;
    margin-top: 38px;
    right: 32px;
}
.bold{
    font-weight: 400;
}